# EXISTING FILES FOR DEV REF

C:\Users\fharker\Documents\GitHub-Local\alex-hub\standard-files\ref

# POTENTIALLY UNUSED DIRECTORIES

C:\Users\fharker\Documents\GitHub-Local\alex-hub\working-standards\render-configs\day
C:\Users\fharker\Documents\GitHub-Local\alex-hub\working-standards\render-configs\night

# TESTING OUTPUTS FOR RENDER SETTINGS, NOT NEEDED IN REPO

C:\Users\fharker\Documents\GitHub-Local\alex-hub\working-standards\render-outputs
working-standards/ref/sign-package-temp.cdr
