
# DEV REFERENCE FILES

standard-files/ref/

# WORKING RENDER CONFIGS (TEMP)

working-standards/render-configs/day/
working-standards/render-configs/night/

# TEST RENDER OUTPUTS

working-standards/render-outputs/

# LARGE CORELDRAW TEMPLATE

working-standards/ref/sign-package-temp.cdr
working-standards/a_ref/sign-package-temp.cdr
